body {
  background: url("images/cart-background.webp") rgb(212, 192, 147);
  background-size: 7%;
  font-family: fira;
}

#cart-order-area {
  padding-top: 200px;
  min-height: 1000px;
}

#submit-order {
  text-align: right;
  margin-bottom: 4%;
}

#submit-order-button{
  padding: 1% 2% 1% 2%;
  font-family: vallkorn;
  font-size: 170%;
  background-color: rgb(219, 170, 79);
  border: 6px outset brown;
  color: rgb(165, 79, 79);
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  #main-item {
    font-size: 80%;
    width: 70%;
  }
}

/* ordering form */
#submit-form {
  position: fixed;
  z-index: 2;
  top: 15%;
  left: 6%;
  
  text-align: center;
  padding: 3%;
  background-color: rgb(212, 192, 147);
  font-size: 260%;
  border: 10px dashed rgb(42, 165, 42);
  display: none;

}

/* open form */
#submit-form:target {
  display: flex;
  flex-direction: column;
}

#submit-form input {
  font-family: vallkorn;
  font-size: 60%;
  /* width: 40%; */
  background-color: rgb(219, 170, 79);
  border: 4px outset brown;
}

.form-info {
  margin: 2%;
  border: 8px dotted brown;
  padding: 2%;
  background-color: rgb(219, 170, 79);
}

#form-ok, #form-cancel{
  padding: 1% 2% 1% 2%;
  font-family: vallkorn;
  background-color: rgb(219, 170, 79);
  color: rgb(165, 79, 79);
  margin: 0 auto;
}

#form-ok {
  border: 10px outset brown;
  font-size: 170%;
  margin-bottom: 3%;
  /* margin: 3% auto; */
  width: 45%;
}

#form-cancel {
  
  border: 4px outset brown;
  text-align: center;
  font-size: 60%;
  text-decoration: none;
  width: 40%;
}

.info-more {
  display: none;
}

/* disolay orientation */

@media screen and (max-width: 1300px) {
  #submit-form {
    top: 10%;
    left: 0%;
  }
}

@media screen and (max-width: 860px) {
  #submit-form {
    top: 7%;
    left: 0%;
  }
}

@media screen and (max-width: 620px) {
  #submit-form {
    top: 7%;
    left: 0%;
  }
  
  #cart-order-area {
    padding-top: 250px;
  }
  #submit-order {
    text-align: center;
  }
}


@font-face {
  font-family: vallkorn;
  src: url("fonts/Vollkorn-Black.ttf");
}

