#main-item-name {
  animation-name: nameShining;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes nameShining {
  0%, 100% {
    background: rgb(219, 170, 79);
  }
  50% {
    background: brown;
  }
}

@media screen and (min-width: 620px) {

  .form-input:hover {
    border-color: rgb(169, 67, 216) !important;
    background: orange !important;
  }

  .form-input-btn:hover {
    border-color: crimson !important;
    background: orange !important;
  }


}