* {
  margin: 0;
  cursor: url("images/cursor.png") 20 10, default;
}

body {
  opacity: 0;
  background: url("images/body-background-shrek.png") rgb(212, 192, 147);
  background-size: 5%;
  font-family: fira;
}


#main-reg {
  background: rgb(212, 193, 23);
  margin: 0 auto;
  width: 40%;
  min-height: 1026px;
  padding: 2%;
  border: 10px dashed rgb(42, 165, 42);
}

#main-reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-reg-name {
  background-color: rgb(219, 170, 79);
  padding: 0 1% 0 1%;
  text-align: center;
  font-size: 540%;
  border: 7px dashed white;
  opacity: 0.9;
  width:40%;
  margin: 0 auto;
  margin-bottom: 4%;
}

#main-reg-name a {
  text-decoration: none;
  color: white;
}

.form-input {
  margin: 2%;
  border: 8px dotted brown;
  padding: 5%;
  padding-right: 10%;
  font-size: 300%;
}

.form-input input {
  font-size: 80%;
  font-family: vallkorn;
  font-size: 60%;
  width: 100%;
  background-color: rgb(219, 170, 79);
  border: 6px outset brown;
}

.form-input-btn {
  border: 6px outset brown;
  padding: 1% 2% 1% 2%;
  font-family: vallkorn;
  background-color: rgb(219, 170, 79);
  color: rgb(165, 79, 79);
  margin-top: 3%;
  font-size: 200%;
}

#form-sign-up {
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  #main-reg {
    font-size: 100%;
    width: 70%;
  }

  #main-reg-name {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  #main-reg {
    font-size: 80%;
    width: 70%;
  }
  
}


/* FONTS */

@font-face {
  font-family: fira;
  src: url("fonts/FiraSansExtraCondensed-Black.ttf");
}

@font-face {
  font-family: vallkorn;
  src: url("fonts/Vollkorn-Black.ttf");
}

@font-face {
  font-family: neucha;
  src: url("fonts/Neucha-Regular.ttf");
}
